body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: $primary;
  color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $secondary;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

header,
section {
  padding: 75px 0px;
}

header {
  padding-top: 0px;
}

// Website wrapper

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

// Button styles

.btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.2s all ease-in-out;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border: 2px solid;
  font-weight: 700;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    outline: none;
  }
}

.primaryBtn {
  color: $white;
  background-color: transparent;
  border-color: $offWhite;

  &:hover,
  &:focus,
  &:active {
    color: $secondary;
    background-color: rgba(250, 249, 249, 0.8);
  }
}

.secondaryBtn {
  color: $secondary;
  background-color: $coralSea;
  border-color: $coralSea;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $coolGrey;
    border-color: $coolGrey;
  }
}

// Scrollbar styles

// Whole scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

// Track
::-webkit-scrollbar-track {
  background-color: $coralSea;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $coolGrey;
  border-radius: 30px;
}

.skipLink {
  position: absolute;
  left: -100%;
  top: 0px;
  z-index: 999;
  width: 100%;
  text-align: center;
  background: $coolGrey;
  color: $white;
  text-decoration: none;
  padding: 20px;
  font-size: 2rem;

  &:focus {
    left: 0;
    outline: none;
  }
}
