// **********************************************
// Nav styles
// **********************************************

nav {
  position: relative;
  height: 101px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 15px 0px;
}

.leftNav {
  display: flex;
  align-items: center;
}

// Logo

.logoContainer {
  display: flex;
  justify-content: center;
  width: 60px;
  margin-left: -14px;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
  margin-right: 10px;

  &:hover,
  &:focus-within {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: none;
  }

  &:focus-within a {
    outline: none;
  }
}

.logo {
  padding: 10px;
  object-fit: cover;
  width: 50px;
  height: 50px;
  object-position: bottom center;
}

// Toggle btn

.toggleOuter {
  margin: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus-within {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: none;
  }
}

.toggleContainer {
  position: relative;
  display: inline-block;
  background: $coolGrey;
  font-size: 1rem;
  border-radius: 5px;
}

.toggleInput {
  position: absolute;
  opacity: 0;
}

.toggleLabel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.left,
.right {
  height: 40px;
  width: 40px;
  padding: 5px;
  line-height: calc(40px - 5px * 2);
  text-align: center;
}

.left,
.right {
  position: relative;
}

.left::before {
  content: "";
  line-height: calc(40px - 5px * 2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px $secondary solid;
  height: calc(40px - 5px * 2 - 0px * 2);
  width: calc(40px - 5px * 2 - 0px * 2);
  margin: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.left::after,
.right::before {
  position: absolute;
}

.right::before {
  content: "";
  opacity: 0;
}

.left::after {
  content: "";
  left: 18px;
  opacity: 1;
}

.toggleInput:checked {
  & + .toggleLabel .left::before {
    opacity: 1;
    transform: translateX(40px);
  }

  & + .toggleLabel .right::before {
    opacity: 0;
  }
}

// Menu btn

.openMenuBtn,
.closeMenuBtn {
  display: none;
  color: $secondary;
}

.openMenuIcon,
.closeMenuIcon {
  color: $secondary;
  font-size: 2rem;
  margin-bottom: 3px;
}

.openMenuBtn,
.closeMenuBtn {
  background: none;
  border: none;
  box-shadow: none;
}

.closeMenuBtn {
  margin-left: auto;
  padding: 20px 20px 20px 50px;
  padding-left: 50px;
  box-shadow: none;

  &:hover > .closeMenuIcon,
  &:focus > .closeMenuIcon {
    box-shadow: none;
    color: $red;
  }

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.openMenuText {
  display: block;
  text-transform: uppercase;
  color: $secondary;
}

// Nav menu background

.menuBg {
  transition: all 0.3s ease-in-out;
}

// Nav links

.navLinks {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 1fr;
  column-gap: 20px;
  transition: all 0.5s ease-in-out;
}

.navLink {
  padding: 10px 15px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    margin: 0px 15px;
    height: 5px;
    background-color: $coolGrey;
    transition: 0.2s all ease-in-out;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    width: calc(100% - 15px * 2);
  }

  &:focus {
    outline: none;
  }
}

.linkOne::after {
  transform: rotate(3deg);
}

.linkTwo::after {
  transform: rotate(-3deg);
}

.linkThree::after {
  transform: rotate(4deg);
}

.linkFour::after {
  transform: rotate(-4deg);
}

.linkFive::after {
  transform: rotate(2deg);
}

// **********************************************
// Landing styles
// **********************************************

.landing {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.landingChild {
  display: flex;
  align-items: center;
}

.landingTextContainer {
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.selfPortrait {
  max-height: 80vh;
  border-radius: 10px;
}

.landingImg {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

// Landing text

h1 {
  font-size: calc(1.5rem + 2vw);
  margin-bottom: 20px;
  position: relative;
  // color: $secondary;
}

.name,
.characteristic {
  display: block;
}

h4 {
  font-size: calc(1rem + 0.25vw);
  width: 80%;
}

// Mouse scroll

// Credits to Tsukasa Aoki for this scroll effect https://codepen.io/TKS31/pen/gOaKaxx

.mouseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.mouse {
  width: 30px;
  height: 60px;
  border: 3px solid $coolGrey;
  border-radius: 60px;
  position: relative;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $coolGrey;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 35px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
