// **********************************************
// General main styles
// **********************************************

h2 {
  font-size: calc(2rem + 0.5vw);
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  font-size: calc(1rem + 0.5vw);
}

// **********************************************
// About section styles
// **********************************************

.aboutContainer {
  display: flex;
  justify-content: space-between;
}

.aboutTextContainer,
.aboutImgContainer {
  width: 48%;
}

.aboutImg {
  object-position: top left;
  max-height: 420px;
}

.aboutText {
  font-size: 1rem;
  line-height: 1.9rem;
  margin-top: 25px;
}

// **********************************************
// Skills section styles
// **********************************************

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.skillIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.skillText {
  margin-top: 20px;
  display: inline-block;
}

.skillIcon {
  font-size: 5rem;

  &::before {
    padding: 0px;
  }
}

.restApi {
  color: rgb(39, 35, 67);
}

.accessibility {
  color: rgb(185, 122, 149);
}

// **********************************************
// Project section styles
// **********************************************

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  height: 100%;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  color: $white;
}

.planItContainer {
  background: rgb(30, 174, 152);
}

.showMakContainer {
  background: rgb(11, 12, 16);
}

.nbaCodeStarsContainer {
  background: rgb(247, 56, 89);
}

.gameContainer {
  background: rgb(7, 39, 64);
}

.snakeGameContainer {
  background: #a03c78;

  & .githubBtn {
    margin-left: 0px;
  }
}

.projectImgContainer {
}

.projectTitle {
  text-align: left;
  margin-bottom: 1rem;
  font-size: calc(2rem + 0.5vw);
}

.projectImg {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.projectContentContainer {
  flex-grow: 10;
  // height: calc(300px + 2rem);
  // height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.techStackIcon {
  font-size: 2rem;
}

// Styles for icons in the

.techStack {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  & .skillContainer {
    color: $primary;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: $secondary;
    border-radius: 5px;
    margin-right: 10px;
  }

  // &:first-child .skillIconContainer {
  //   padding-left: 0px;
  // }
}

.projectDescription {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.githubBtn {
  margin-left: 10px;
}

// **********************************************
// Contact section styles
// **********************************************

.contactContainer {
  display: flex;
}

.contactLinksContainer,
.contactFormContainer {
  width: 50%;
}

// Left container

.contactIconContainer {
  p {
    font-size: 1rem;
  }
}

.cta {
  text-align: left;
  margin-bottom: 10px;
}

.leftContainer {
  display: flex;
  width: 50%;
}

.contactImgContainer {
  width: 40%;
  margin-right: 10px;

  img {
    border-radius: 5px;
  }
}

.contactIconsWrapper {
  margin-bottom: 30px;
}

.contactIcon {
  font-size: 2rem;
  width: 30px;
  margin-right: 15px;
  display: flex;
}

.smallIcon {
  font-size: 1.3rem;
}

.contactIconContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contactLinksWrapper {
  display: flex;
}

// Right container

.inputContainer {
  position: relative;
}

.contactInput {
  background-color: $darkBlue;
  color: $white;
  border: 1px solid $darkGrey;
  padding: 13px;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;

  &::placeholder {
    color: $white;
  }

  &:hover {
    border-width: 2px;
    padding: calc(13px - 1px);
    border-color: $secondary;
  }

  &:focus,
  &:active {
    outline: 0;
    border-width: 2px;
    padding: calc(13px - 1px);
    border-color: $secondary;
  }
}
