@media (max-width: 900px) {
  // ************************
  // About
  // ************************

  .aboutImg {
    height: 300px;
    width: 300px;
  }

  // ************************
  // Projects
  // ************************
  .projectTitle {
    font-size: calc(1rem + 2vw);
  }

  .techStack {
    & .skillContainer {
      padding: 0.3rem 0.6rem;
    }
  }

  // ************************
  // Contact
  // ************************
  .leftContainer {
    margin-right: 10px;
    width: 60%;
  }
  .contactImgContainer {
    width: 50%;
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  // ************************
  // General
  // ************************

  section {
    padding: 50px 0px;
  }

  // ************************
  // Nav
  // ************************

  // Styles to center theme toggler
  .leftNav {
    width: calc(50% + 100px / 2);
    justify-content: space-between;
  }

  // Nav slider

  .openMenuBtn,
  .closeMenuBtn {
    display: block;
  }

  .navLinks {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 300px;
    width: 80%;
    grid-template-rows: repeat(6, 70px) auto;
    grid-template-columns: 1fr;
    background-color: $coolGrey;
    margin-right: -100%;
    z-index: 20;
  }

  .navLink {
    display: block;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;

    &:hover,
    &:focus-visible {
      background-color: $primary;
    }

    &:hover::after,
    &:focus-visible::after {
      width: 0%;
    }
  }

  // Shows the nav menu
  .open {
    margin-right: 0%;

    & .navLink {
      background-color: $coolGrey !important;
      color: $secondary !important;

      &:hover,
      &:focus-visible,
      &:focus-within {
        background-color: $primary !important;
      }
    }
  }

  // applies background to body when nav is open
  .dimBg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(85, 91, 110, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  // Formats the nav heading when menu is toggled
  .transparentBg {
    background-color: transparent;
  }

  .addFilter {
    filter: blur(10px);
  }

  // ************************
  // Header
  // ************************

  .landingImg {
    height: 275px;
    width: 275px;
  }

  // ************************
  // Projects
  // ************************
  .projectContentContainer {
    padding: 1rem;
  }

  // ************************
  // Contact
  // ************************
  .contactContainer {
    flex-direction: column;
  }

  .leftContainer,
  .rightContainer {
    width: 100%;
  }

  .leftContainer {
    margin: 0px;
    margin-bottom: 20px;
  }

  .contactImgContainer,
  .contactLinksContainer {
    width: 50%;
  }

  .contactSubmitBtn {
    width: 100%;
  }
}

@media (max-width: 775px) {
  // ************************
  // About
  // ************************

  .aboutText {
    line-height: 1.2rem;
  }

  .techStack {
    & .skillContainer {
      padding: 0.3rem 0.6rem;
    }
  }

  // **********************************************
  // Project section styles
  // **********************************************

  .projectsContainer {
    grid-gap: 30px 30px;
  }
}

@media (max-width: 680px) {
  // ************************
  // About
  // ************************
  .aboutContainer {
    flex-direction: column;
    justify-content: center;
  }

  .aboutImgContainer {
    justify-content: center;
    margin-bottom: 50px;
  }

  .aboutImg {
    width: 350px;
    height: 350px;
    margin: 0px;
  }

  .aboutTextContainer {
    width: 100%;
  }

  // ************************
  // Projects
  // ************************
  .projectsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 50px;
  }
}

@media (max-width: 650px) {
  // ************************
  // Skills
  // ************************
  .skillsContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .skillIcon {
    font-size: 3rem;
  }

  .skillText {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  // ************************
  // Header
  // ************************

  .landingImg {
    border-radius: 50%;
    height: 225px;
    width: 225px;
  }
}

@media (max-width: 525px) {
  // ************************
  // General
  // ************************

  section {
    padding: 25px 0px;
  }

  // ************************
  // Header
  // ************************

  .landing {
    flex-direction: column;
  }

  .landingChild {
    width: 100%;
  }

  .landingImgContainer {
    justify-content: center;
    padding-top: 50px;
  }

  h4 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  // ************************
  // About
  // ************************

  .aboutImg {
    height: 250px;
    width: 250px;
  }

  // ************************
  // Header
  // ************************

  h1 {
    font-size: calc(1.5rem + 2vw);
  }

  h2 {
    font-size: calc(1rem + 2vw);
  }

  // ************************
  // Contact
  // ************************

  .leftContainer {
    flex-direction: column;
  }

  .contactImgContainer,
  .contactLinksContainer {
    width: 100%;
  }

  .contactImgContainer {
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;

    img {
      height: 170px;
      width: 170px;
      border-radius: 50%;
    }
  }

  .smallIcon {
    margin-right: 5px;
  }

  .largeContactLink {
    padding: 10px;

    .contactIcon {
      margin: 0px;
    }
    // margin-right: 10px;
  }

  .contactLinksWrapper {
    justify-content: center;

    li {
      margin: 0px 10px;
    }
  }

  .cta {
    font-size: calc(1.5rem + 0.5vw);
  }
}

@media (max-width: 450px) {
  // ************************
  // Skills
  // ************************
  .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .skillIcon {
    font-size: 3rem;
  }

  .skillText {
    margin-top: 10px;
  }

  // ************************
  // Projects
  // ************************
  .techStack {
    & .skillContainer {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 400px) {
  // ************************
  // General
  // ************************

  h4 {
    width: 100%;
  }
}
