// Colours

// New colours
$primary: rgb(255, 214, 186);
$secondary: rgb(85, 91, 110);
$offWhite: rgb(250, 249, 249);
$coralSea: rgb(190, 227, 219);
$coolGrey: rgb(137, 176, 174);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$red: rgb(217, 4, 41);

// Old colours
$darkBlue: rgb(61, 90, 128);
$lightBlue: rgb(152, 193, 217);
$darkGrey: rgb(45, 55, 71);
$lightGrey: rgb(168, 168, 168);
