// Colours

// New colours
$primary: rgb(255, 214, 186);
$secondary: rgb(85, 91, 110);
$offWhite: rgb(250, 249, 249);
$coralSea: rgb(190, 227, 219);
$coolGrey: rgb(137, 176, 174);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$red: rgb(255, 103, 103);
$green: rgb(147, 217, 163);
