// Colours

$primary: rgb(224, 251, 252);
$secondary: rgb(238, 108, 77);
$darkBlue: rgb(61, 90, 128);
$lightBlue: rgb(152, 193, 217);
$darkGrey: rgb(45, 55, 71);
$lightGrey: rgb(168, 168, 168);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
